<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>hei.devweb.controllers.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Image</servlet-name>
    <servlet-class>hei.devweb.controllers.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>hei.devweb.controllers.InscriptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>hei.devweb.controllers.ConnexionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>hei.devweb.controllers.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Vote</servlet-name>
    <servlet-class>hei.devweb.controllers.VoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Profil</servlet-name>
    <servlet-class>hei.devweb.controllers.ProfilServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxNewsletter</servlet-name>
    <servlet-class>hei.devweb.controllers.AjaxNewsletterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxContact</servlet-name>
    <servlet-class>hei.devweb.controllers.AjaxContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjaxDeleteImage</servlet-name>
    <servlet-class>hei.devweb.controllers.AjaxDeleteImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificationImage</servlet-name>
    <servlet-class>hei.devweb.controllers.ModificationImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Faq</servlet-name>
    <servlet-class>hei.devweb.controllers.FaqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Vote</servlet-name>
    <url-pattern>/vote</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxNewsletter</servlet-name>
    <url-pattern>/ajaxnewsletter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxContact</servlet-name>
    <url-pattern>/ajaxcontact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModificationImage</servlet-name>
    <url-pattern>/modifimage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjaxDeleteImage</servlet-name>
    <url-pattern>/ajaxdeleteimage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faq</servlet-name>
    <url-pattern>/faq</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
</web-app>